@font-face {
  font-family: 'Mgchalkwalk';
  src: url('../fonts/Mgchalkwalk.woff2') format('woff2'),
       url('../fonts/Mgchalkwalk.woff') format('woff'),
       url('../fonts/Mgchalkwalk.ttf') format('truetype');
}

@font-face {
  font-family: 'Coburn';
  src: url('../fonts/Coburn.woff2') format('woff2'),
       url('../fonts/Coburn.woff') format('woff'),
       url('../fonts/Coburn.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed; /* Set position to fixed */
    width: 100%; /* Make sure it spans the entire width */
    top: -15px; /* Align to the top */
  }
  
  #scoreboard {
    background: url('dart.png') center center fixed;
    background-size: 96%;
    background-position-x: 50%;
    background-position-y: -3.5%;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 10px;
    border-bottom: 3px solid rgb(243, 243, 243);
    justify-content: space-between;
    display: flex;
  }
  
  #team3 {
    margin-top: 7%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 240%; /* Adjust font size as needed */
  }
  
  #team1 {
    width: 36%;
  }

  .team {
    width: 32%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    font-size: 240%;
    margin-top: 10px;
}
  
  #team1-history-list,
  #team2-history-list {
      list-style: none;
      margin-top: -4%;
      margin-bottom: 0;
  }

  
  #keypad {
    margin: 1 auto;
    text-align: center;
    /* background: linear-gradient(to bottom, #353535, #000000); */
    background: url('bg.jpg') center center fixed;
    background-size: contain;
  }
  
  .keypad-row {
    display: flex;
    justify-content: center;
  }
  
  .keypad-button {
    margin: 0.2%;
    padding: 1.6%;
    background: linear-gradient(to bottom, #000000d9, #1313133b);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 35px;
    width: 180px;
    border-radius: 10px; 
    font-weight: bolder;
    text-shadow: 1px 5px 15px rgba(41, 41, 41, 0.5)
  }

  .keypad-button1 {
    margin: 0.4%;
    background: transparent;
    color: #a6a6a6; 
    border: none;
    cursor: pointer;
    font-size: 32px;
    width: 90px;
    border-radius: 10px; 
    font-weight: bolder;
    margin-right: 15px;
    letter-spacing: 2px;
  }

  .keypad-button2 {
    margin: 0.4%;
    background: transparent;
    color: #a6a6a6; 
    border: none;
    cursor: pointer;
    font-size: 32px;
    width: 90px;
    border-radius: 10px; 
    font-weight: bolder;
    margin-left: 15px;
    letter-spacing: 2px;
  }
  
  #button-enter {
    font-size: 30px;
    background: linear-gradient(to bottom, #47ff0085, #0000);
    padding: 5px;
    font-weight: bold;
    width: 150px;
  }
  
  #button-back {
    background: linear-gradient(to bottom, #ff000094, #0000);
    padding: 10px;
    font-weight: bold;
    /* border: 1px solid white; */
    font-size: 42px;
    width: 130px;
  }
  
  #button-return1 {
    font-size: 35px;
    background: linear-gradient(to bottom, #ffe30078, #655a0000);
    padding: 10px;
    font-weight: bold;
    letter-spacing: -2px;
  }

  #button-miss {
    font-size: 35px;
    background: linear-gradient(to bottom, #ff000094, #0000);
    padding: 10px;
    font-weight: bold;
    width: 150px;
  }

  #button-add {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    color: lime;
  }
  
  
  .keypad-button:hover {
    background-color: #555;
  }
  
  #score-preview {
    margin-top: 6px;
    width: 350px;
    margin-bottom: 6px;
    font-size: 300%;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    background: linear-gradient(to bottom, #2828283d, #73737347);
    border-radius: 12px;
    color: white;
    font-weight: bold;
  }
  
  .score-text {
    font-size: 34px; /* Adjust the font size as needed */
  }
  
  /* Remove bullet points from history */
  .team ul {
    list-style-type: none;
    font-size: 60px;
    margin: 0px;
    text-align: center;
  }
  
  .team ul li {
    list-style: none; /* Remove the marker */
    font-size: 60px;
    margin: 0px;
  }
  
  #scoreboard h1 {
    margin-top: -5px;
    margin-bottom: -5px;
    color: gray;
    font-family: 'Coburn';
    font-weight: 100;
  }
  #scoreboard h2 {
    color: gray;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Coburn';
    font-weight: 100;
  }
  
  /* Adjusted CSS for history container and table */
  #history-container {
    margin-bottom: 0%;
    height: calc(100% - 100px); /* Adjust the initial height as needed */
    display: flex;
    justify-content: center;
    align-items: normal;
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative; /* Add relative positioning */
    border-bottom: none; /* Add this line to remove the bottom border */
  }
  
  .history-table {
    /* font-family: 'Mgchalkwalk'; */
    font-family: 'Coburn';
    letter-spacing: 0px;
    width: 100%;
    border-collapse: collapse;
    font-size: 96px;
    table-layout: fixed;
  }
  
  .history-table td {
    border-left: 3px solid rgb(243, 243, 243);
    border-right: 3px solid rgb(243, 243, 243);
    text-align: center;
    vertical-align: top;
  }
  
  /* Remove border from leftmost and rightmost td elements */
  .history-table tr td:first-child,
  .history-table tr td:last-child {
    border-left: none; /* Remove left border from leftmost td */
    border-right: none; /* Remove right border from rightmost td */
    border-bottom: none; /* Add this line to remove the bottom border */
    text-shadow: -3px 6px 12px rgba(255, 255, 255, 0.31);
  }
  
  /* Styling for other cells */
  .history-table td:nth-child(4),
  .history-table td:nth-child(5),
  .history-table td:nth-child(6) {
    width: 15%;
  }
  
  /* .history-table tr:nth-child(3n+1) {
    border-bottom: 2px solid white;
  } */
  
  /* Make scoreboard text thicker */
  #team1-score, #team2-score {
    /* font-weight: bold; */
    font-size: 100px;
  }
  
  /* Add line below the third score in team1-history-list and team2-history-list */
  #team1-history-list li:nth-child(3n)::after,
  #team2-history-list li:nth-child(3n)::after {
    content: "";
    display: block;
    width: 80%;
    border-bottom: 5px solid white;
    margin: 0 auto;
  }
  
  .history-table-wrapper {
    position: absolute;
    top: 0;
    background-color: black;
    z-index: 1;
  }
  
  #counter-cell {
    color: gray;
    background-color: black;
    border-bottom: none; /* Add this line to remove the bottom border */
    text-shadow: -3px 6px 12px rgba(255, 0, 0, 0.44);
  }
  
  
  #team1.highlight h2 {
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(to bottom, #41eb00, #207201);
    color: black;
    padding-bottom: 5px;
    text-shadow: 1px 5px 20px rgba(41, 41, 41, 0.6);
    letter-spacing: 3px;
    font-weight: 100;
  }

  #team2.highlight h2 {
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(to bottom, #ff0000, #810000);
    color: black;
    padding-bottom: 5px;
    text-shadow: 1px 5px 20px rgba(41, 41, 41, 0.6);
    letter-spacing: 3px;
    font-weight: 100;
  }
  
  #team1.highlight {
    width: 34%;
    /* background: linear-gradient(to bottom, #ffffff, #dddddd); */
    color: black;
  }
  
  #team2.highlight {
    width: 34%;
    /* background: linear-gradient(to bottom, #ffffff, #dddddd); */
    color: black;
  }
  #team1.highlight h1,
  #team2.highlight h1{
    color: black;
    background: linear-gradient(to bottom, #ffffff, #7b7b7b);
    padding-left: 15px;
    padding-right: 10px;
    text-shadow: 1px 5px 10px rgba(41, 41, 41, 0.4);
    font-family: 'Coburn';
  }
  
  #team3  h2{
    color: white;
    font-size: 50%;
  }
  
  #toggle-fullscreen-button {
    position: relative;
    left: 14%;
    z-index: 9999;
  }

  #change-turn-button {
    position: relative;
    left: 4%;
  }

  #reset-button {
    margin-top: 25px;
    position: relative;
    left: 32%;
  }
  
  .options-tab {
    height: 0px;
    position: relative;
    top: -6%;
    left: 2%;
    z-index: 9999;
  }

  .options-dropdown .GM  a {
    color: lime;
    font-size: 34px;
    left: auto;
    text-align: center;
  }
  
  .options-tab-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -8px;
    margin-top: 20px;
  }
  
  .options-dropdown {
    position: absolute;
    top: calc(100% + -38px);
    left: 30px;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }

  .options-dropdown button {
    font-size: 16px;
    margin: 5px;
    font-weight: bold;
    padding: 7px;
  }
  
  .options-dropdown a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 2px;
    font-size: 30px;
  }
  
  .options-dropdown a:hover {
    background-color: #555;
  }
  
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  text-align: center;
  font-size: 30px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#cancelResetButton {
  font-size: 30px;
  margin-right: 15px;
}

#confirmResetButton {
  font-size: 30px;
  margin-left: 15px;
}

#cancelWinButton {
  font-size: 30px;
  margin-right: 15px;
}

#confirmWinButton {
  font-size: 30px;
  margin-left: 15px;
}

/* Add this CSS for the pop-up window */
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.popup-buttons {
  margin-top: 10px;
}

.popup-buttons button {
  margin: 0 5px;
}

/* .averages-container {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */


#team1-average,
#team2-average {
  margin-bottom: 5px;
}

#team1-average {
  font-weight: 600;
  color: white;
  padding: 5px;
  background: linear-gradient(to bottom, #ff0000, #810000);
  margin-right: 18%;
  border-radius: 10px;
}

#team2-average {
  font-weight: 600;
  color: white;
  padding: 5px;
  background: linear-gradient(to bottom, #ff0000, #810000);
  margin-left: 18%;
  border-radius: 10px;
}
