@font-face {
    font-family: 'Mgchalkwalk';
    src: url('../fonts/Mgchalkwalk.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

.btn-info {
    --bs-btn-color: #e65d5d;
    --bs-btn-bg: #000000;
    font-family: 'Mgchalkwalk', sans-serif; 
}